body{
    padding-left: 10vw;
    padding-right: 3vw;
}
#Logo img{
    width: 7em;

}
#Logo button{
    border: 0;
    background-color: white;
}
#head{
    display: flex;
    justify-content: space-between;
    width: 87vw;
}
#Tbuttons{
    width: 55vw;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-right: 12vw;
}
.buttons{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.Sign_in{
    background-color: rgb(82, 82, 190);
    border-radius: 12px;
    width: 5em;
    height: 3em;
    display: flex;
    justify-content: center;
    align-items: center;
    color: aliceblue;
    cursor: pointer;
}



#content{
    display: flex;
    justify-content: space-between;
    width: 87vw;
}
#content #left{
    width: 39%;
}
#content #left h1{
    font-size: 3rem;
}
#content #right{
    width: 50%;
}
#content #right img{
    width: 100%;
}


.sp{
    border-radius: 12px;
    border: 2px solid black;
    padding: 8px;
    width: 80%;
    text-align: center;
}

.q{
    text-align: center;
}


#some #sl{
    width: 39%;
}
#some #sl h1{
    font-size: 3rem;
}

#some #sr{
    width: 50%;
}