body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80vh;
    /* background-color: aqua; */

}

body > div{
    border: 1px solid black;
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* align-items: center; */
    background-color: aquamarine;
    width: 20vw;
    border-radius: 12px;
}
#o,#t{
    border: 0;
    margin: 0;
    background-color: teal;
    text-align: center;
}
.q{
    background-color: teal;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    padding: 2px;
    border-radius: 25px;

}

#we,#he{
    height: 2rem;
    width: 100%;
    text-align: center;
    border: 0;
    background-color: aquamarine;
}
button{
    border: 0;
    background-color: aqua;
    border-radius: 25px;
}