body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #b4c3cf;
}

.container {
    background-color: #ddf5ff;
    border: 5px solid #415656;
    border-radius: 12px;
    padding: 20px;
    width: 300px;
    text-align: center;
}

h1 {
    color: #008080;
    font-size: 33px;
}

.input-group {
    margin-bottom: 19px;
}

.input-group label {
    font-size: 16px;
    color: #333;
    margin-bottom: 5px;
}

.input-group input {
    width: 100%;
    padding: 10px;
    border: 2px solid #008080;
    border-radius: 5px;
    font-size: 16px;
    box-sizing: border-box;
    background-color: whitesmoke;
}

button {
    background-color: #008080;
    color: #ffffff;
    padding: 10px 20px;
    border: 0;
    border-radius: 7px;
    cursor: pointer;
    font-size: 16px;
    margin-top: 10px;
}

button:hover {
    background-color: #006666;
}



.output-group {
    background-color: #e0ffff;
    border-radius: 6px;
    padding: 10px;
    border: 1px solid #006666;
}

.output-group input {
    width: 80%;
    padding: 10px;
    border: none;
    background-color: #e0ffff;
    text-align: center;
    font-size: 18px;
    color: #333333;
    margin-bottom: 10px;
}

#t {
    margin-bottom: 0;
}
